# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
docroot/sites/*/files-private

/nbproject/private/
# Ignore file settings.php
docroot/sites/default/settings.local.php

# Ignore index.php
docroot/index.php
.idea/

# Ignore module outside profile
docroot/sites/all/modules/contrib
