
<h3>Responsive IMG</h3><img alt="Beautiful picture" data-interchange="[test_assets/paysage-small.jpg, (small)], [test_assets/paysage-medium.jpg, (medium)], [test_assets/paysage-large.jpg, (large)]"/>
<noscript><img src="test_assets/paysage-medium.jpg" alt="Beautiful picture"/></noscript>
<h3>dropdown</h3>
<button aria-expanded="false" aria-controls="dropdown-test" data-dropdown="data-dropdown" class="dropdown__trigger">Dropdown</button>
<div id="dropdown-test" aria-hidden="true" class="dropdown__content hidden">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima a alias cupiditate numquam natus deserunt ipsa vel, porro ex atque quas odit quam cum delectus, esse ratione repudiandae laudantium corporis?</p>
  <p>Nemo, officia aut, recusandae, minus dolor tenetur eligendi delectus nihil nesciunt pariatur velit modi blanditiis sequi explicabo? Nam dolor quos animi quasi veritatis, perspiciatis recusandae, corporis quibusdam ipsam aliquam consequuntur.</p>
</div>